* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  background-color: #fbfbfb;
  height: 100%;
}

body {
  font: 16px/1.5 Alegreya,Roboto,Arial,Helvetica,sans-serif;
  color: #464646;
  word-wrap: break-word;
  max-width: 700px;
  height: 100%;
  margin: 0 auto;
  padding: 0 7px;
}

body.loading #loader {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #fbfbfb;
}

p {
    margin-bottom: 6px;
}

a, a:focus, a:active, a:visited {
    color: #607D8B;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Roboto,Arial,Helvetica,sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .16rem;
}

header {
    margin-top: 1rem;
}

header > a {
    overflow: hidden;
    display: table;
    margin: 0 auto;
    box-shadow: 0 0 8px #d6d6d6;
    border-radius: 100%;
    border: 2px solid white;
    position: relative;
}
header > a img {
    padding: 5px;
    height: 120px;
    width: 120px;
    background-image: url(./../img/nikita.jpg?1);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
}
header > nav {
    border: 2px solid #d8d8d8;
    font-size: 18px;
    display: table;
    margin: 1.5rem auto 0 auto;
    border-radius: 8px;
    -webkit-border-radius: 8px;
}
header > nav ul {
    display: table;
    margin: 0 -1px;
}
header > nav ul li {
    display: inline-block;
}
header > nav ul li a:hover,
header > nav ul li a:focus,
header > nav ul li a:active,
header > nav ul li a.active {
    background: #d8d8d8;
    color: #607D8B;
}

header > nav ul li a {
    text-decoration: none;
    color: #555;
    font-weight: 600;
    padding: 2px 16px;
    display: block;
}

@media (max-width: 600px) {
    header > nav {
        font-size: 16px;
        border: none;
    }

    header > nav ul li {
        margin: 2px;
    }

    header > nav ul li a {
        border: 2px solid #d8d8d8;
        border-radius: 8px;
        -webkit-border-radius: 8px;
    }

    header > a img {
        height: 90px;
        width: 90px;
    }

    #projects .project-item {
        display: block;
    }
}

section {
    line-height: 1.5;
    margin: 1.8rem 0;
}

section > h1 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #607D8B;
}

#experience .experience-item,
#skills .certification-item {
    margin-top: 14px;
}

#experience .experience-item > p > em,
#skills .certification-item > p > em {
    color: #888;
}

#skills h1 {}
#skills .skill-group {
    margin-top: 1rem;
}
#skills .skill-group h4 {
    font-size: 13px;
}
#skills .skill-group div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
#skills .skill-group div span {
    white-space: nowrap;
    border: 1px solid #d8d8d8;
    margin-right: 3px;
    margin-top: 2px;
    border-radius: 3px;
    padding: 0 7px;
}
#skills .skill-group.lang div {
    white-space: nowrap;
}
#skills .skill-group.lang div span {
    border: none;
    margin: 0;
    padding: 0;
}

#projects .project-item {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
}
#projects .project-item img {
    height: 120px;
    width: 180px;
    margin-right: 1rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    box-shadow: 0 0 4px #ddd;
    cursor: pointer;
}
#projects .project-item div {
    flex: 1;
}
#projects .project-item div > h3 {
    margin-bottom: 5px;
}
#projects .project-item div > p {}
#projects .project-item div > em {
    color: #888;
}

@media (max-width: 600px) {
    #projects .project-item {
        display: block;
    }

    #projects .project-item img {
        width: 100%;
        height: 200px;
        margin-bottom: 5px;
    }
    #projects .project-item div {
        padding: 3px 2px;
    }
}

#cheat-sheet code {
    background: #fdf6e1;
    color: #c69d00;
    font-family: monospace;
    padding: 1px 3px;
}

#contact form input,
#contact form textarea,
#contact form button {
    width: 100%;
    display: block;
    margin-bottom: 5px;
    padding: 7px 10px;
    background: transparent;
    border: 2px solid #d6d6d6;
    font: 17px/1.5 Alegreya,Roboto,Arial,Helvetica,sans-serif;
    border-radius: 8px;
    /* box-shadow: 0 0 4px #ddd; */
}

#contact form input {}
#contact form textarea {
    resize: vertical;
    min-height: 150px;
}
#contact form button {
    cursor: pointer;
    background: #607D8B;
    border-color: #607D8B;
    color: #fff;
    text-transform: uppercase;
    width: auto;
    padding: .24rem 1.5rem;
    border-radius: 3px;
}

#contact form .error {
    border-color: #F44336;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 14px;
}
footer > span {}
footer a {
    text-decoration: none;
    display: inline-block;
}
footer a:not(:last-child) {
    margin-right: 7px;
}
footer a svg {
    fill: currentColor;
    display: table;
}

footer a:nth-child(1):hover, footer a:nth-child(1):active, footer a:nth-child(1):focus { color: #4078c0 }
footer a:nth-child(2):hover, footer a:nth-child(2):active, footer a:nth-child(2):focus { color: #0077b5 }
footer a:nth-child(3):hover, footer a:nth-child(3):active, footer a:nth-child(3):focus { color: #1da1f2 }
footer a:nth-child(4):hover, footer a:nth-child(4):active, footer a:nth-child(4):focus { color: #00ab6c }
footer a:nth-child(5):hover, footer a:nth-child(5):active, footer a:nth-child(5):focus { color: #f48024 }
footer a:nth-child(6):hover, footer a:nth-child(6):active, footer a:nth-child(6):focus { color: #5ecc62 }
footer a:nth-child(7):hover, footer a:nth-child(7):active, footer a:nth-child(7):focus { color: #ff0000 }
footer a:nth-child(8):hover, footer a:nth-child(8):active, footer a:nth-child(8):focus { color: #0063dc }

#googly-eyes > svg {
    height: 15px;
    width: 15px;
    position: absolute;
    fill: white;
    overflow: hidden;
    transform: rotate(250deg);
}

#googly-eyes > svg:first-child {
    top: 54px;
    right: 66px;
}

#googly-eyes > svg:last-child {
    top: 60px;
    right: 45px;
}

@media (max-width: 600px) {
    #googly-eyes > svg {
        height: 13px;
        width: 13px;
    }

    #googly-eyes > svg:first-child {
        top: 40px;
        right: 48px;
    }

    #googly-eyes > svg:last-child {
        top: 46px;
        right: 32px;
    }
}