@media ( max-width: 670px ) {
    #site-intro {
        display: block;
    }

    #site-intro > div:first-child {
        margin-left: 1.5rem;
    }

    #site-intro > div:last-child {
        margin-left: 0;
    }
}